# git ignore file
*.exe
*.dll
*.pdb
*.config
*.manifest
*.cache
*.config
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.nupkg
*.nuspec
obj/
[Rr]elease*/
*.psess
*.vsp
*.htm
packages/**/*.[Xx][Mm][Ll]
packages/**/*.nupkg
packages/**/*.nuspec
packages/**/*.[Tt][Xx][Tt]
*.orig
*.suo
*.pri

